In [1]:
print("Hello World")

Hello World

In [3]:
import os
import tarfile
import urllib

In [7]:
import pandas as pd

def load_housing_data(housing_path=HOUSING_PATH):
    csv_path = ("./countries-aggregated.csv")
    return pd.read_csv(csv_path)

In [8]:
df = load_housing_data()
df.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46248 entries, 0 to 46247
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       46248 non-null  object
 1   Country    46248 non-null  object
 2   Confirmed  46248 non-null  int64
 3   Recovered  46248 non-null  int64
 4   Deaths     46248 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.8+ MB

In [23]:
df.size

231240

Situation of covid in Finland

In [41]:
df[df["Country"=="Finland"]]

             Date  Country  Confirmed  Recovered  Deaths
15006  2020-01-22  Finland          0          0       0
15007  2020-01-23  Finland          0          0       0
15008  2020-01-24  Finland          0          0       0
15009  2020-01-25  Finland          0          0       0
15010  2020-01-26  Finland          0          0       0

print the first date of first case in Finland

In [45]:
finland=df[df.Country=='Finland']
finland=finland[["Date",'Confirmed']][finland['Confirmed']>0]
finland.head(1)

             Date  Confirmed
15013  2020-01-29          1

The most cases country in the world

In [47]:
country = df[["Country","Date",'Confirmed']][df["Confirmed"]==df["Confirmed"].max()]
country.head()

      Country        Date  Confirmed
43049      US  2020-09-23    6933548

The situation in Finland in 13-6-2020

In [49]:
finland=df[df.Country=='Finland']
finland=finland[finland['Date']=="2020-06-13"]
finland.head(1)

             Date  Country  Confirmed  Recovered  Deaths
15149  2020-06-13  Finland       7087       6200     325

The total confirmed cases in Finland

In [10]:
citizen = df.groupby('Country')
finland = citizen.get_group('Finland')
print(finland['Confirmed'].max())

9288